*{
    direction: rtl !important;
}

body{
    font-family: 'DroidKufi-Regular', serif;
}
.layout-fixed .main-sidebar {
    right: 0;
}
.brand-image {
    float: right;
}
.content-wrapper, .main-footer, .main-header {
    margin-left: 0px;
    margin-right: 250px;
}
.mr-auto-navbav{
    margin-right: auto!important;
}
.navbar-expand .navbar-nav .nav-link {
    padding-right: 1rem;
    padding-left: 1rem;
}

[class*=icheck-]>input:first-child:checked+input[type=hidden]+label::after,
[class*=icheck-]>input:first-child:checked+label::after {
    right: 15px;
    left: auto;
}
.nav-sidebar .nav-link>.right,
.nav-sidebar .nav-link>p>.right {
    left: 1rem;
    right: auto;
}
.nav-sidebar .nav-link>.right:nth-child(2),
.nav-sidebar .nav-link>p>.right:nth-child(2) {
    left: 2.2rem;
    right: auto;
}
.small-box .icon>i {
    left: 15px;
    right: auto;
}
@media (min-width: 992px){
    .sidebar-mini.sidebar-collapse .content-wrapper, .sidebar-mini.sidebar-collapse .main-footer, .sidebar-mini.sidebar-collapse .main-header {
        margin-right: 4.6rem!important;
    }
    .sidebar-mini.sidebar-collapse .content-wrapper, .sidebar-mini.sidebar-collapse .main-footer, .sidebar-mini.sidebar-collapse .main-header {
        margin-right: 4.6rem!important;
        margin-left: 0!important;
    }
}

@media (max-width: 767.98px) {
    .main-sidebar, .main-sidebar::before {
        box-shadow: none !important;
        margin-right: -250px;
    }

    .content-wrapper, .content-wrapper::before, .main-footer, .main-footer::before, .main-header, .main-header::before {
        margin-right: 0;
    }

    .sidebar-open .main-sidebar, .sidebar-open .main-sidebar::before {
        margin-right: 0;
    }
}


.links__main{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.links__main__child{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.page__link{
    position: relative;
    display: inline-flex;
    background-color: white;
    align-items: center;
}
.page-btn{
    display: inline-flex;
    align-items: center;
    padding: 2px 4px;
    margin-left: 0.1rem;

}

.page-links{
    display: none;
}

@media screen and (max-width: 400px)   {
    .page-links{
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-direction: column;

    }
}

.links-arrows{
    margin-top: 0.5rem;

}

#myTable_filter label{
    width: 100%;
    margin-top: 2px;

}
#myTable_filter label input{
    width: 90%;
    margin-right: 10px;
}


.select-right{
    /* General styling */
    height: 40px;
    width: 200px;
    border-radius: 10px;
    padding: 5px 10px;
    border-color: #d1d1d1;

    /* Removes the default <select> styling */
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;

    /* Positions background arrow image */
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAh0lEQVQ4T93TMQrCUAzG8V9x8QziiYSuXdzFC7h4AcELOPQAdXYovZCHEATlgQV5GFTe1ozJlz/kS1IpjKqw3wQBVyy++JI0y1GTe7DCBbMAckeNIQKk/BanALBB+16LtnDELoMcsM/BESDlz2heDR3WePwKSLo5eoxz3z6NNcFD+vu3ij14Aqz/DxGbKB7CAAAAAElFTkSuQmCC');
    background-repeat: no-repeat;
    background-position-y: center;
    background-position-x: 5px;
}

.select-right:focus{
    outline: none;
}

.select2-right{
    /* General styling */
    height: 40px;
    border-radius: 10px;
    padding: 5px 10px;
    border-color: #d1d1d1;

    /* Removes the default <select> styling */
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;

    /* Positions background arrow image */
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAh0lEQVQ4T93TMQrCUAzG8V9x8QziiYSuXdzFC7h4AcELOPQAdXYovZCHEATlgQV5GFTe1ozJlz/kS1IpjKqw3wQBVyy++JI0y1GTe7DCBbMAckeNIQKk/BanALBB+16LtnDELoMcsM/BESDlz2heDR3WePwKSLo5eoxz3z6NNcFD+vu3ij14Aqz/DxGbKB7CAAAAAElFTkSuQmCC');
    background-repeat: no-repeat;
    background-position-y: center;
    background-position-x: 5px;
}

.select2-right:focus{
    outline: none;
}

.select2-container--bootstrap4 .select2-selection--single .select2-selection__arrow{
    right: unset;
    left: 3px;
}

.info-box:hover{
    background-color: #dddddd80;
}

.info-box{
    transition: background-color 0.5s;
}

