@import url(http://fonts.googleapis.com/earlyaccess/droidarabickufi.css);
.number_ltr {
	direction: ltr !important;
	unicode-bidi: embed;
}
html,
body {
	direction: rtl;
	font-family: 'Droid Arabic Kufi', serif;
}

header,
.main-menu nav > ul > li > a {
	font-family: 'Droid Arabic Kufi', serif !important;
}
.hero-area .slider-img {
	left: 0;
	right: unset;
}

.hamburger-menu .menu-bar .info-bar {
	margin-right: 6px;
}

.header-sing {
	margin-right: 6px;
}

.slide-bar.show {
	right: 0;
}

.ml-15 {
	margin-right: 15px;
}

.main-menu nav > ul > li .sub-menu {
	left: unset;
	right: 0;
}
.main-menu nav > ul > li:hover .sub-menu {
	top: 80%;
}

.header-sing a i,
.header-reg a i {
	padding-right: unset;
	padding-left: 7px;
	font-size: 1rem;
}

.slider-img .img-fluid {
	content: url('../img/slider/01.png');
}
/* .single-slider {
	background-image: url('../img/slider/01.png');
} */

.header-sing a,
.header-reg a {
	font-family: unset;
	font-size: 0.6rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: unset;
}

.hero-slider-caption h2 {
	font-size: 2rem;
}

.hero-content {
	margin-top: 0;
}

.support:before {
	right: -1.9rem;
	left: unset;
}

.support-area p {
	padding-right: unset;
	padding-left: 30px;
}

p {
	font-family: unset;
}
.support .support-icon i {
	margin-left: 18px;
	margin-right: unset;
}

.support .support-text span {
	font-family: unset;
	font-size: 11px;
}

.slider-search-form button {
	right: unset;
	left: 12px;
}

.course-cat-meta span {
	margin-right: unset;
	margin-left: 19px;
}

.course-cat-meta span:last-child {
	margin-left: 0px;
}

.gallery-icon {
	right: unset;
	left: 40px;
}

.gallery-text {
	left: unset;
	right: 40px;
}

.course-meta {
	display: flex;
	justify-content: space-between;
}

.f-left {
	float: right;
}
.blog-2-img {
	margin-right: unset;
	margin-left: 15px;
}

.blog-button {
	left: 0;
	right: unset;
}
.header-reg {
	margin-right: 0;
}

.instructor-img {
	margin-left: unset;
	margin-right: -50px;
}

.instructor-wrapper {
	margin-right: 65px;
	margin-left: unset;
}

.mr-15 {
	margin-left: 15px;
}

.section-title p {
	margin-left: 34px;
	margin-right: unset;
}

.instructor-text p {
	margin-left: 37px;
	margin-right: unset;
}

.ins-info::before {
	left: unset;
	right: -40px;
}

.blog-meta span {
	margin-right: unset;
	margin-left: 17px;
}

.counter-icon {
	float: left;
}

.sticky {
	right: 0;
}

.menu-bar {
	margin-left: unset;
}

.footer-social-icon a {
	padding-left: 50px;
}

.footer-social-icon {
	direction: ltr;
}

.footer-social-icon a i {
	margin-right: 0;
	margin-left: 10px;
}

.footer-widget .slider-search-form button {
	left: 0;
	right: unset;
}

.copyright-text p .heart {
	animation: beat 500ms ease infinite;
	-webkit-animation: beat 500ms ease infinite;
	fill: red;
	margin-left: 3px;
	margin-right: 3px;
}

@keyframes beat {
	0% {
		transform: scale(1);
	}

	100% {
		transform: scale(1.25);
	}
}

.c-btn{
    font-family: unset;
}

.footer-social-icon a::before{
    left: unset;
    right: 0;
}

.side-mobile-menu ul li.has-dropdown > a:after{
    right: unset;
    left:16px
}

.side-mobile-menu ul li ul li a{
    padding-right: 15px;
    padding-left: unset;
}
.side-mobile-menu ul li ul li a:before{
    right: 0;
    left: unset;
}


.home--stages {
    position: absolute;
    left: 100px;
    top: 50%;
    transform: translateY(-50%);
    z-index: 99;
}

.home--stages .nice-select{
    border: none;
    height: 90px;
    line-height: 90px;
    padding-left: 30px;
    padding-right: 18px;
    text-align: unset;
    background-color: #fff0;
}

.home--stages select{
    outline:0;
    appearance: none;
    border:none;
    height: 90px;
    line-height: 90px;
    padding-left: 30px;
    padding-right: 18px;
    text-align: unset;
    background-color: #fff0;
}
.nice-select:after{
    right: unset;
    left: 18px;
}

.header-sing:hover a,
.header-reg:hover a

{
    background: #ea5822;
    color: white;
}

.header-sing:hover a > i, .header-reg:hover a > i {
    color: white;
}
.home--stages .nice-select .option{
    padding-right: 18px;
    padding-left: 29px;
    text-align: right;
}

@media (max-width: 767px){
    .hero-content {
        margin-top: 140px;
    }
    .home--stages{
        left: 40px;
    }
    .slider-search-form button{
        left: 10px;
        top: 50%;
        transform: translatey(-50%);
        height: 40px;
        width: 40px;
        line-height: 40px;
    }

}


.btn-main{
    background: #ea5822;
    border-color: unset;
}
.btn-main:focus {
    border-color: unset;
}
.btn-main:hover{
    background-color: #893212;
    border-color: unset;
}

.login-form .lg-btn button.c-btn{
    background: #ea5822;
    color: white;
    padding: 23px 40px;
    border: 0;
}
.login-form .lg-btn button.c-btn:hover
{
    background: #3662ff;
}

.login-form .lg-btn .c-btn i
{
    padding-right: 12px;
    padding-left: unset;
}

.login-form .form-control{
    color: #708389;
    background: #f5f6fa;
    height: 70px;
    border: 1px solid #c7dee4;
    border-radius: 5px;
    padding: .375rem 1.75rem;
}

.login-form .input-text.email-text::after{
    content: "\f2b6";
}
.login-form .input-text.password::after{
    content: "\f6f3";
}
.login-form .input-text::after{
    position: absolute;
    content: "\f007";
    font-family: "Font Awesome 5 Pro";
    display: inline-block;
    font-size: 16px;
    text-align: center;
    left: 30px;
    color: #ea5822;
    top: 50%;
    transform: translateY(-50%);
}

.counter-bg{
    z-index: 2;
}

.page-title-area{
    margin-top: 135px;
    min-height: 200px;
}

.page-title-area .page-title{
    padding-top: 80px;
    padding-bottom: 80px;
}

.contact-area{
    padding-top: 130px;
}

.section-title h2{
    font-size: 45px;
}

.subscribe .input-text .form-control{
    font-family: unset;
}

.contact-post-form .input-text::after{
    right: unset;
    left: 40px;
}

.c-btn i{
    padding-right:15px;
}

.subscribe .lg-btn button.c-btn{
    background: #ea5822;
    color: white;
    padding: 23px 70px;
    border: 0;
}

.lg-btn.lg-btn-03 button{
    width: 650px;
}

.register-area .lg-btn.lg-btn-03 button{
    width: 100%;
}
.subscribe .lg-btn button.c-btn:hover{
    background: #3662ff;
}

@media (max-width: 767px){
    .lg-btn.lg-btn-03 button{
        width: 275px;
    }
    .slider-search-form input{
        padding: 0 15px;
    }

}

.contact-post-form .input-text::after{
    top: 50%;
    transform: translatey(-50%);
}
.password .input-text::after,
.email .input-text::after
{
    top:35px;
}


.register-area .subscribe .input-text .form-control{
    line-height: 55px;
    text-align: right !important;
}

.register-area .nice-select .list{
    left: unset;
    right: 0;
    width: 100%;
}

.register-area .nice-select .option
{
    text-align: right;
}

.phone .input-text::after{
    content: '\f4d2';
}

.password .input-text::after{
    content: '\f6f3';
}

.whatsapp .input-text::after{
    content: '\f232';
    font-family: "Font Awesome 5 Brands";
}

.gender .input-text::after{
    content: '\f227';
    top: 22px;
    transform: unset;
}

.subjects .input-text::after{
    content: '\f5db';
    top: 22px;
    transform: unset;
}

.experience .input-text::after{
    top: 22px;
    content: '\f0b1';
    transform: unset;
}

.qualification  .input-text::after{
    top: 22px;
    content: '\f19c';
    transform: unset;
}


.gender{
    margin-bottom: 30px;
}

.country{
    margin-bottom: 30px;
}

.country .input-text::after{
    content: '\f57c';
    top: 22px;
    transform: unset;
}
.residence{
    margin-bottom: 30px;
}

.residence .input-text::after{
    content: '\f024';
    top: 22px;
    transform: unset;
}

.alert{
    text-align: right;
}

.alert .alert--content{
    margin-right: 10px;
}

.sidebar-buttons .c-btn{
    padding: 15px;
    margin: 5px;
}

.teacher-area .nice-select{
    text-align: right !important;
    width: 100%;
    height: 120%;
}

.select2-search__field{
    direction: rtl;
    text-align: right;
    border: 1px solid #dedede;
    position: relative;
    color: #708389;
    font-size: 15px;
    /*line-height: 55px;*/
    font-weight: 500;
    /*height: 58px;*/
    display: block;
    width: 100%;
    border-radius: 0;
    background: transparent;
    padding-right: 15px !important;
    outline: #888888;
}

/*.select2-search__field:focus{*/
/*    border:none;*/
/*}*/
.select2-container--default .select2-selection--multiple{
    border: none;
}
.multi-select:after{
    border-bottom: 2px solid #999;
    border-right: 2px solid #999;
    content: '';
    display: block;
    height: 5px;
    margin-top: -4px;
    pointer-events: none;
    position: absolute;
    left: 18px;
    z-index: 999;
    -webkit-transform-origin: 66% 66%;
    -ms-transform-origin: 66% 66%;
    transform-origin: 66% 66%;
    -webkit-transform: rotate(
        45deg
    );
    -ms-transform: rotate(45deg);
    transform: rotate(
        45deg
    );
    -webkit-transition: all 0.15s ease-in-out;
    transition: all 0.15s ease-in-out;
    width: 5px;
}

.multi-select:after{
    top: 50%;
}

.multi-select,
.multi-select:focus
{
    appearance: none;
    padding: 10px;
    border:none;
    outline: none;
}

.select2-search__field::placeholder{
    line-height: 3 !important;
}

.select2-selection--multiple:focus{
    border:none;
}
.select2-selection__rendered {
    line-height: 31px !important;
}
.select2-container .select2-selection--single {
    min-height: 68px !important;
    overflow-y: auto;
    max-height: 70px !important;
    line-height: 68px !important;

}
.select2-selection--multiple {
    min-height: 68px !important;
    max-height: 70px !important;
    line-height: 68px !important;
}

.select2-selection--multiple::-webkit-scrollbar {
    display: none;
}
.stages .input-text::after{
    content: '\f078';
    top: 27px;
    transform: unset;
}

.select2-container--default.select2-container--focus .select2-selection--multiple{
    border:none !important;
}

.pphour .input-text::after{

    content: '\f51e'  !important;
    top: 22px;
    transform: unset;
    left: 30px;
}


.other_subjects .input-text::after{
    content: '\f7e8'  !important;
    top: 22px;
    transform: unset;
}

.brief .input-text::after{

    content: '\f303' !important;
    top: 12px;
    transform: unset;

}

.profile-btn{
    color: #062a35;
    font-weight: 700;
    font-size: 14px;
    background: white;
    padding: 17px 28px;
    line-height: 1;
    display: inline-block;
    margin-left: .5rem;
    border-radius: 0;
    transition: background-color 1s;
}

.profile-btn i{
    color: #ea5822;
}

.profile-btn:hover{
    background: #ea5822;
    color: white;
}
.profile-btn:hover > .fad{
    color: white;
}

.profile-btn:after{
    position: absolute;
    content: "\f0d7";
    font-family: "Font Awesome 5 Pro";
    display: inline-block;
    font-size: 15px;
    text-align: center;
    left: 10px;
    color: #ea5822;
    top: 50%;
    transform: translateY(-50%);
}


.dropdown-item:focus, .dropdown-item:hover{
    color: white;
    background-color: #ea5822;
}

.search-teacher .c-btn{
    padding: 17px 45px;
    color: white;
    border-color: #ea5822;
    background: #ea5822;
    border-radius: 3px;
}

.search-teacher .c-btn:hover{
    background-color: #110aff;
    border-color: #110aff;

}

.search-teacher{
    padding-top: 130px;
}

.result-back{
    background-color: #fff;
    border-radius: 5px;
    border: solid 1px #e8e8e8;
    box-sizing: border-box;
    height: 65px;
    line-height: 65px;
    margin-top: 20px;
    outline: none;
    padding: 18px 30px;
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

.search-results .teacher-item{
    background-color: #fff;
    border-radius: 5px;
    border: solid 1px #e8e8e8;
    box-sizing: border-box;
    margin-top: 20px;
    outline: none;
    padding: 10px 30px;
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}


.loader {
    margin: 100px auto;
    font-size: 25px;
    width: 1em;
    height: 1em;
    border-radius: 50%;
    position: relative;
    text-indent: -9999em;
    -webkit-animation: load5 1.1s infinite ease;
    animation: load5 1.1s infinite ease;
    -webkit-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0);
}
@-webkit-keyframes load5 {
    0%,
    100% {
        box-shadow: 0em -2.6em 0em 0em #ffffff, 1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2), 2.5em 0em 0 0em rgba(255, 255, 255, 0.2), 1.75em 1.75em 0 0em rgba(255, 255, 255, 0.2), 0em 2.5em 0 0em rgba(255, 255, 255, 0.2), -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.2), -2.6em 0em 0 0em rgba(255, 255, 255, 0.5), -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.7);
    }
    12.5% {
        box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.7), 1.8em -1.8em 0 0em #ffffff, 2.5em 0em 0 0em rgba(255, 255, 255, 0.2), 1.75em 1.75em 0 0em rgba(255, 255, 255, 0.2), 0em 2.5em 0 0em rgba(255, 255, 255, 0.2), -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.2), -2.6em 0em 0 0em rgba(255, 255, 255, 0.2), -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.5);
    }
    25% {
        box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.5), 1.8em -1.8em 0 0em rgba(255, 255, 255, 0.7), 2.5em 0em 0 0em #ffffff, 1.75em 1.75em 0 0em rgba(255, 255, 255, 0.2), 0em 2.5em 0 0em rgba(255, 255, 255, 0.2), -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.2), -2.6em 0em 0 0em rgba(255, 255, 255, 0.2), -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2);
    }
    37.5% {
        box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.2), 1.8em -1.8em 0 0em rgba(255, 255, 255, 0.5), 2.5em 0em 0 0em rgba(255, 255, 255, 0.7), 1.75em 1.75em 0 0em #ffffff, 0em 2.5em 0 0em rgba(255, 255, 255, 0.2), -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.2), -2.6em 0em 0 0em rgba(255, 255, 255, 0.2), -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2);
    }
    50% {
        box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.2), 1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2), 2.5em 0em 0 0em rgba(255, 255, 255, 0.5), 1.75em 1.75em 0 0em rgba(255, 255, 255, 0.7), 0em 2.5em 0 0em #ffffff, -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.2), -2.6em 0em 0 0em rgba(255, 255, 255, 0.2), -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2);
    }
    62.5% {
        box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.2), 1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2), 2.5em 0em 0 0em rgba(255, 255, 255, 0.2), 1.75em 1.75em 0 0em rgba(255, 255, 255, 0.5), 0em 2.5em 0 0em rgba(255, 255, 255, 0.7), -1.8em 1.8em 0 0em #ffffff, -2.6em 0em 0 0em rgba(255, 255, 255, 0.2), -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2);
    }
    75% {
        box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.2), 1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2), 2.5em 0em 0 0em rgba(255, 255, 255, 0.2), 1.75em 1.75em 0 0em rgba(255, 255, 255, 0.2), 0em 2.5em 0 0em rgba(255, 255, 255, 0.5), -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.7), -2.6em 0em 0 0em #ffffff, -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2);
    }
    87.5% {
        box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.2), 1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2), 2.5em 0em 0 0em rgba(255, 255, 255, 0.2), 1.75em 1.75em 0 0em rgba(255, 255, 255, 0.2), 0em 2.5em 0 0em rgba(255, 255, 255, 0.2), -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.5), -2.6em 0em 0 0em rgba(255, 255, 255, 0.7), -1.8em -1.8em 0 0em #ffffff;
    }
}
@keyframes load5 {
    0%,
    100% {
        box-shadow: 0em -2.6em 0em 0em #ffffff, 1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2), 2.5em 0em 0 0em rgba(255, 255, 255, 0.2), 1.75em 1.75em 0 0em rgba(255, 255, 255, 0.2), 0em 2.5em 0 0em rgba(255, 255, 255, 0.2), -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.2), -2.6em 0em 0 0em rgba(255, 255, 255, 0.5), -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.7);
    }
    12.5% {
        box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.7), 1.8em -1.8em 0 0em #ffffff, 2.5em 0em 0 0em rgba(255, 255, 255, 0.2), 1.75em 1.75em 0 0em rgba(255, 255, 255, 0.2), 0em 2.5em 0 0em rgba(255, 255, 255, 0.2), -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.2), -2.6em 0em 0 0em rgba(255, 255, 255, 0.2), -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.5);
    }
    25% {
        box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.5), 1.8em -1.8em 0 0em rgba(255, 255, 255, 0.7), 2.5em 0em 0 0em #ffffff, 1.75em 1.75em 0 0em rgba(255, 255, 255, 0.2), 0em 2.5em 0 0em rgba(255, 255, 255, 0.2), -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.2), -2.6em 0em 0 0em rgba(255, 255, 255, 0.2), -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2);
    }
    37.5% {
        box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.2), 1.8em -1.8em 0 0em rgba(255, 255, 255, 0.5), 2.5em 0em 0 0em rgba(255, 255, 255, 0.7), 1.75em 1.75em 0 0em #ffffff, 0em 2.5em 0 0em rgba(255, 255, 255, 0.2), -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.2), -2.6em 0em 0 0em rgba(255, 255, 255, 0.2), -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2);
    }
    50% {
        box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.2), 1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2), 2.5em 0em 0 0em rgba(255, 255, 255, 0.5), 1.75em 1.75em 0 0em rgba(255, 255, 255, 0.7), 0em 2.5em 0 0em #ffffff, -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.2), -2.6em 0em 0 0em rgba(255, 255, 255, 0.2), -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2);
    }
    62.5% {
        box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.2), 1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2), 2.5em 0em 0 0em rgba(255, 255, 255, 0.2), 1.75em 1.75em 0 0em rgba(255, 255, 255, 0.5), 0em 2.5em 0 0em rgba(255, 255, 255, 0.7), -1.8em 1.8em 0 0em #ffffff, -2.6em 0em 0 0em rgba(255, 255, 255, 0.2), -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2);
    }
    75% {
        box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.2), 1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2), 2.5em 0em 0 0em rgba(255, 255, 255, 0.2), 1.75em 1.75em 0 0em rgba(255, 255, 255, 0.2), 0em 2.5em 0 0em rgba(255, 255, 255, 0.5), -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.7), -2.6em 0em 0 0em #ffffff, -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2);
    }
    87.5% {
        box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.2), 1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2), 2.5em 0em 0 0em rgba(255, 255, 255, 0.2), 1.75em 1.75em 0 0em rgba(255, 255, 255, 0.2), 0em 2.5em 0 0em rgba(255, 255, 255, 0.2), -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.5), -2.6em 0em 0 0em rgba(255, 255, 255, 0.7), -1.8em -1.8em 0 0em #ffffff;
    }
}



.page-item.active .page-link{
    font-size: 18px;
    line-height: 43px;
    font-weight: 700;
    display: inline-block;
    width: 60px;
    height: 60px;
    border: 1px solid #ebebeb;
    border-radius: 50%;
    text-align: center;
    -webkit-transition: all 0.4s ease-out 0s;
    -moz-transition: all 0.4s ease-out 0s;
    -ms-transition: all 0.4s ease-out 0s;
    -o-transition: all 0.4s ease-out 0s;
    transition: all 0.4s ease-out 0s;
    color: white;
    background: #ea5822;

}

.pagination li span
{
    color: #062a35;
    font-size: 18px;
    line-height: 43px;
    font-weight: 700;
    display: inline-block;
    width: 60px;
    height: 60px;
    border: 1px solid #ebebeb;
    border-radius: 50%;
    text-align: center;
    -webkit-transition: all 0.4s ease-out 0s;
    -moz-transition: all 0.4s ease-out 0s;
    -ms-transition: all 0.4s ease-out 0s;
    -o-transition: all 0.4s ease-out 0s;
    transition: all 0.4s ease-out 0s;
}

.pagination{
    display: flex;
    justify-content: center;
    margin-top: 20px;
}


.teacher-profile{
    background: linear-gradient(
        90deg
        ,hsla(0,0%,96.9%,.877) 50%,hsla(0,0%,96.9%,.8) 70%,hsla(0,0%,96.9%,.8) 90%),url('../img/teacher-main-profike.jfif');
    padding: 60px 0;
    background-position: 50%;
    background-size: cover;
    background-repeat: no-repeat;
}

.teacher-profile-main .page-title-area::before{
    opacity: 0.4;
}

.college-name .col-icon{
    margin-left: 10px;
    margin-right: unset;
}

.footer-widget .footer-widget-title{
    font-family: unset;
}

.footer-list li a{
    font-family: unset;
}

.footer-list li{
    float: right !important;
}

.footer-list li a::before{
    left: unset;
    right: 0;
}
.footer-list li a:hover{
    padding-right: 20px;
    padding-left: unset;
}


.faq-area .card .card-header .btn-link::before {
    right: unset;
    left: 40px;
}

.faq-area .card .card-header button{
    font-family: unset;
    text-align: right;
}

.breadcrumb .breadcrumb-list li a i{
    margin-left: unset;
    margin-right: 10px;
}

.publisher-nav-color .privacy-policy{
    display: none;
}

.testimonial-text span{
    font-size: 20px;
}

.owner_title {
    font-size: 15px !important;
}

.course-cat-meta span i{
    margin-right: unset;
    margin-left: 3px;
}
